<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>946322230208-5v4lhu8le2vu08sk97894c43b8r6eprn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946322230208-5v4lhu8le2vu08sk97894c43b8r6eprn</string>
	<key>API_KEY</key>
	<string>AIzaSyAB2aoFJ1SggZ8QgF9NNOwGIoo6znglJzw</string>
	<key>GCM_SENDER_ID</key>
	<string>946322230208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>darkhonbek-QRCodeReader</string>
	<key>PROJECT_ID</key>
	<string>tarkat-9af61</string>
	<key>STORAGE_BUCKET</key>
	<string>tarkat-9af61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946322230208:ios:040523f5ee5b2b06</string>
	<key>DATABASE_URL</key>
	<string>https://tarkat-9af61.firebaseio.com</string>
</dict>
</plist>